.heading-block{
    .heading-content{
        margin-top:30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            margin: 0;
        }
    }
}

.psn-accounts-block{
    margin-top:30px;
    .account-panel{
        .panel-heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 51px;
            h3{
                margin-bottom: 0;
            }
        }
        .panel-body{
            .text-group{
                h6{
                    margin-bottom: 0;
                }
                p{
                    &.lead{
                        margin-bottom: 6px;
                    }
                }
            }
            .games-table{
                margin-bottom: 0;
            }
        }
        .panel-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 55px;
            p{
                margin-bottom: 0;
            }
        }
        &.main-account{
            .panel-heading{
                color: white; 
                a{
                    color: white;
                }
            }
        }
    }
}

.wishlist-block{
    margin-top:30px;
    .thumbnail{
        height: 100%;
    }
    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        flex-wrap: wrap;
      }
      .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
      }
}