.heading-block {
  margin-top: 30px;
}
.psn-accounts-block {
  margin-top: 30px;
}
.psn-accounts-block .account-panel .panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.psn-accounts-block .account-panel .panel-heading h3 {
  margin-bottom: 0;
}
.psn-accounts-block .account-panel.main-account .panel-heading,
.psn-accounts-block .account-panel.main-account .panel-footer {
  background-color: #71bfea;
}
